@charset "UTF-8";

       .filme1 img.cover{
            float: left;
            position: absolute;
            padding-left: 5%;
            padding-top: 3%;
            width: 220px;
            height: 348px;
        }
        .filme1 img.banner {
            padding-right: 10%;
            padding-left: 4%;
            width: 750px; 
            height: 380px;

            
        }
        .filme1 h1{
            padding-left: 50%;
            font-size: 200%;
            margin-bottom: 4%;
            
        }
        
        .filme1 h2{ 
            font-size: 180%;
            padding-left: 30%;
            padding-right: 15%;
            text-align: center;
        }
        

        
        .filme1 p{
            text-align: justify;
            width: 50%;
            height: 40%;
            padding-left: 40%;
        }
        	
		table { 
            text-align: center;
			width:700px;
			margin:15% auto;
			border-spacing:0;
			border-right:1px solid #ccc;
			border-bottom:1px solid #ccc;
		}
		
		caption {
			font-size:130%;
			font-weight:bold;
			padding:5px 30%;
			background-color:#ECECEC;
			border:1px solid #ccc;
			border-bottom:none;
		}
		
		tr, td, th {
			border:thin solid #ccc;
			border-bottom:none;
			border-right:none;
			padding:5px;
		}
		
		td { 
			text-align:center;
		}
		
		th {
			text-align:left;
		}
		
		thead th {
			text-align:center;
			background-color:#E0E0E0;
		}

		thead tr th:first-child {
			text-align:left;
		}
        
        article {
            padding-bottom: 20px;
            margin-bottom: 20%;
        }
        
        iframe{
            padding-top: 3%;
            padding-right: 10%;
            padding-left: 4%;
            width: 750px; 
            height: 380px;
        }
        
        video{
            padding-top: 3%;
            padding-right: 10%;
            padding-left: 4%;
            width: 750px; 
            height: 480px;
            
        }