@charset "UTF-8";

/*Importação de fontes*/

@font-face {
    font-family: filme;
    src: url("../_fonts/filme.otf");
}

@font-face {
    font-family: fakenews;
    src: url("../_fonts/fakenews.otf");
}

@font-face {
    font-family: Ceviche One, cursive;
    src: url('https://fonts.googleapis.com/css?family=Ceviche+One');
}

@font-face {
    font-family: Sriracha, cursive;
    src: url('https://fonts.googleapis.com/css?family=Sriracha');
}

@font-face {
    font-family: Luckiest Guy;
    src: url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
}

@font-face {
    font-family: EB Garamond, serif;
    src: url('https://fonts.googleapis.com/css?family=EB+Garamond');
}

@font-face {
    font-family: got;
    src: url("../_fonts/got.ttf");
}

@font-face {
    font-family: breakingbad;
    src: url(../_fonts/Heart Breaking Bad.otf)
}


/*Formatação body*/

body {
    background-image: url("../_imagens/back3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}



/*Formatação interface*/

div#interface {
    /*width: 60%;*/
    height: auto;
    background-color: white;
    /*margin: 8% 20% 5px 20%;*/
}

section#NoticiaLocadora h1 {
    text-align: center;
    color: black;


}




/*Formatação logotipo*/

.navbarTogglerDemo01{
    background-color: white;
}

#menu .top {

    width: 28%;
    height: auto;
    margin-top: -80px;    /* versão mobile remover top*/
    padding-right: 2%;
    z-index: 2;
    position: relative;
}


/*Formatação do menu*/

#barra-navegacao {
    position: relative;
    z-index: 2;
    width: auto;
    padding: 0;
    

}

#menu {
    display: block;
    background-color: white;
    margin-right: 0;
}

#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    margin-top: -710%;
    z-index: 10;
}

#menu li {
    display: inline-block;
    background-color: rgba(195, 0, 0, 100);
    color: white;
    font-family: Sriracha, cursive;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
    box-shadow: 10px 10px 5px #999;
    font-size: 90%;
}

#menu #none {
    display: none;
}

#menu li:hover {
    background-color: rgba(97, 7, 3, 100);
}

#menu h1 {
    display: none;
}

#menu a {
    color: white;
    text-decoration: none;
}

#menu a:hover {
    color: rgba(239, 224, 224, 100);
}

/*Formatação rodapé*/

footer#rodape a {
    target: "_blank";
}

footer#rodape {
    display: block;
}

footer#rodape ul {
    list-style: none;
    text-transform: uppercase;
    margin-top: 5%;
    margin-bottom: -2%;
}

footer#rodape li {
    display: inline-block;
    background-color: orange;
    color: white;
    font-family: Ceviche One, cursive;
    padding: 10px;
    margin: 2px;
    box-shadow: 10px 10px 5px #999;

}

footer#rodape a {
    color: black;
    text-decoration: none;
}

footer#rodape a:hover {
    text-decoration: underline;
}