@charset "UTF-8";

/*fontes*/

@font-face font-family: EB Garamond,
serif;
src: url('https://fonts.googleapis.com/css?family=EB+Garamond');
font-family: got;
src: url("../_fonts/got.ttf");
font-family: breakingbad;
src: url(../_fonts/Heart Breaking Bad.otf)
/* página inicial series*/

h1 {
    text-align: center;

}

.card-img-top {
    width: 640px;
    height: 200px;
}

.card-body {
    background-color: #e9e9e9;

}

.content {
    margin-top: 4%;


}


/*////////////////////series ////////////////////////*/

.series hr {
    color: #f00;
    background-color: #f00;
    height: 5px;
}

/* game of thrones */

h1.cabecalho {
    padding-top: 8%;
    text-align: center;
}

.series {
    margin: 8% 2% 5px 2%;
}

.series section img {
    width: 650px;
    height: 380px;

}


.titulo-per {
    text-align: center;
    padding: 5% 5%;
    font-size: 130%;
}

hr.linha{
    border-top: 3px dotted #8c8b8b;
    border-bottom: 1px dotted #fff;

}


/*tabelas*/

#tabela {
    margin-top: 8%;
}



/*formatação personagens*/

#person-bio span {
    font-size: 110%;
    font-family: got;
    letter-spacing: 5px;
    color: black;
}

#person-bio span {
    font-size: 110%;
    letter-spacing: 5px;
    color: black;
}

#elenco {
    background-color: #ffece2;
    padding-bottom: 4%;
    border-style: solid;
    border-width: 5px;
    border-style: outset;
    margin-bottom: 5%;
}

#person {
    width: 100%;
    float: left;
    margin-top: 25px;

}


#person-bio p {
    padding-top: 5%;
    font-size: 115%;
}


#person-bio a {
    cursor: pointer;
    text-decoration: underline;
    color: black;
}


/*zoom*/

#person:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}