@charset "UTF-8";

/*fontes*/

@font-face 
font-family: EB Garamond,
serif;
src: url('https://fonts.googleapis.com/css?family=EB+Garamond');
font-family: got;
src: url("../_fonts/got.ttf");
font-family: breakingbad;
src: url(../_fonts/Heart Breaking Bad.otf)

/*artigos*/

 section.got div.series hr {
    color: #f00;
    background-color: #f00;
    height: 5px;
}

h1.cabecalho {
    padding-top: 10%;
    padding-left: 35%;
}

div.series h1.titulo {
    padding-left: 20%;
    padding-right: 15%;
    padding-bottom: 4%;
    float: left;
}

div.series {
    margin: 8% 10% 5px 10%;
}

div.series section img {
    width: 650px;
    height: 380px;

}

h1.p-personagens {
    font-family: got;
    padding-left: 20%;
    padding-top: 4%;
    padding-bottom: 2%;
}



/*tabelas*/

table {
    text-transform: uppercase;
    width: 600px;
    margin-left: 5%;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 4%;
}

caption {
    text-transform: uppercase;
    text-shadow: 8px 5px 5px #999;
    text-align: center;
    font-size: 130%;
    padding: 5px 30px 0 40%;
    background-color: gainsboro;
    border: 3px solid #ccc;
    border-bottom: none;
}

tr,
td,
th {
    border: thin solid #999;
    padding: 5px;
}

td {
    text-align: center;
}

th {
    text-align: left;
    display: table-cell;
}



thread td {
    display: table-cell;



}

thead tr th:first-child {
    text-align: left;
}

/*formatação personagens*/

div.elenco span {
    font-size: 110%;
    font-family: got;
    letter-spacing: 5px;
    color: black;
}

div.elenco {
    background-color: #FFFAF0;
    width: 700px;
    height: auto;
    margin: 10px 15px 8px 50px;
    padding: 1%;



}

div.elenco img {
    width: 180px;
    height: 230px;
    float: left;
    padding-top: 1%;
    position: absolute;

}

div.elenco p {
    padding-left: 30%;
    padding-top: 2%;
    font-size: 115%;
}

div.elenco figcaption {
    padding-top: 5%;
}

div.personage {
    background-color: cadetblue;
    height: 250px;
    padding: 3%;
}

div.personage a.actor {
    cursor: pointer;
    text-decoration: underline;
    color: black;
}

div.personage a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}





/*zoom*/

div.personage img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}