@charset "UTF-8";

div#interface section#noticia3d h1 {

    padding-left: 6%;
    margin-top: 10%;
    color: black;
    margin-left: 200px;
    font-family: Ceviche One, cursive;

}


div#interface  p{
    padding-top: 30px;
    padding-right: 3%;
    text-indent: 40px;
    line-height: 200%;
    margin-left: 20px;
    font-size: larger;
    font-family: Sriracha, cursive
}

div#interface p:first-letter{
    color: black;
    font-size: 40px;
}

section#NoticiaLocadora h1 {
    margin-top: 5%;
    color: black;
    font-family: Ceviche One, cursive;   
}

section#NoticiaLocadora h3{
    font-weight: 200;
    padding-top: 5px;
    padding-right: 5%;
    padding-left:  5%;
    
}

section#NoticiaLocadora h2{
    vertical-align: baseline;

    margin-top: 5%;
    font-weight: 300;
    font-family: Ceviche One, cursive;
    
}


figure {
    position: relative;
    border: 8px solid white;
    box-shadow: 3px 3px 6px black;

}

figure img {

    width: 100%;
    height: 100%;
}

figure.foto-um figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,.8);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 2s;
    font-family: filme;
    font-size: 30px;
}

figure.foto-um:hover figcaption{
    opacity: 6;
}

div#interface hr {
    width: 40%;
    color: #f00;
    background-color: #f00;
    height: 5px;
}

aside {
    text-align: center;
    width: 500px;
    border-top: 2px solid #cc6633;
    padding-left: 15px;
    font-style: italic;
    margin-bottom: 20px;
    margin-left: 140px;
    margin-top: auto;
    background: url(../_imagens/aspas.gif) no-repeat;
    
}
