@charset "UTF-8";

/*Importação de fontes*/
@font-face {
    font-family: filme;
    src: url("../_fonts/filme.otf");
    font-family: fakenews;
    src: url("../_fonts/fakenews.otf");
    font-family: Ceviche One, cursive;
    src: url('https://fonts.googleapis.com/css?family=Ceviche+One');
    font-family: Sriracha, cursive;
    src: url('https://fonts.googleapis.com/css?family=Sriracha');
    font-family: Luckiest Guy;
    src: url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

}

/*Formatação body*/
body {
    background-image: url("../_imagens/back3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}


/*Formatação interface*/

div#interface {
    width: 60%;
    height: auto;
    background-color: white;
    margin: 9% 20% 5px 20%;


}

section#NoticiaLocadora h1{
    text-align: center;
    color: black;
    
    
}




/*Formatação logotipo*/

header#inicial {

    margin-left: 10%;
    margin-top: 2%;
    width: 5px;
    height: 10px;


}


/*Formatação do menu*/
nav#menu {
    display: block;
}

nav#menu  ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 18%;
    left: 33%;



}

nav#menu li{
    display: inline-block;
    background-color: rgba(195,0,0,100);
    color: white;
    font-family: Sriracha, cursive;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}

nav#menu li:hover {
    background-color: rgba(97,7,3,100);
}

nav#menu h1{
    display: none;
}

nav#menu a {
    color: white;
    text-decoration: none;
}

nav#menu a:hover {
    color: rgba(239,224,224,100);
}

/*Formatação rodapé*/

footer#rodape a {
    target: "_blank";
}
footer#rodape {
    display: block;
}

footer#rodape ul{
    list-style: none;
    text-transform: uppercase;
    margin-right: 5%;
    margin-left: 28%;
}

footer#rodape li{
    display: inline-block;
    background-color: orange;
    color: white;
    font-family: Ceviche One, cursive;
    padding: 10px;
    margin: 2px;

}

footer#rodape a{
    color: black;
    text-decoration: none;
}

footer#rodape a:hover{
    text-decoration: underline;
}

